#tool-box {
	width: 300px;
}
#menu-icon {
	color:#000;
	width:44px;
	height:35px;
	background:#ecebeb url("../images/mobile_nav.jpg") no-repeat left top;
	cursor:pointer;
	border:solid 1px #666;
	display:block;
	float:left;
	border-radius:7px;
}
#main-nav {
	display: none;
	float:left;
	height:35px;
	line-height:35px;
	margin-left:5px;
	border:solid 1px;
	border-radius:7px;
	background-color: #333333;
}
#main-nav a {
	text-decoration:none;
	padding:0 5px;
}
#main-nav #home-page {
	}#main-nav #contact-us {
	padding-left:0;
}
.vertical-bar {
	border-right:solid 1px;
	border-color: #f2f7fc;
}
.hide-nav {
	display:none;
}
#float-div {
	position: fixed;
	display: none;
	left: 10px; 
	top: 10px; 
	border: 0px; 
	background-color: transparent;
}
